streamlit==1.41.1
PyPDF2==3.0.1
openai==1.57.4
langchain-openai==0.2.12
nest-asyncio==1.6.0
pinecone-client==5.0.1
langchain==0.3.12
langchain-pinecone==0.2.0
coqui-tts
# Core dependencies
numpy>=1.25.2,<2.0
cython>=3.0.0
scipy>=1.11.2
torch>=2.1
torchaudio>=2.1.0
soundfile>=0.12.0
librosa>=0.10.1
inflect>=5.6.0
tqdm>=4.64.1
anyascii>=0.3.0
pyyaml>=6.0
fsspec[http]>=2023.6.0
packaging>=23.1

# Inference
pysbd>=0.3.4

# Training
matplotlib>=3.7.0

# Coqui stack
coqui-tts-trainer>=0.2.0,<0.3.0
coqpit-config>=0.1.1,<0.2.0
monotonic-alignment-search>=0.1.0

# Gruut + supported languages
gruut[de,es,fr]>=2.4.0

# Tortoise
einops>=0.6.0
transformers>=4.43.0,<=4.46.2

# Bark
encodec>=0.1.1

# XTTS
num2words>=0.5.14
spacy[ja]>=3,<3.8

# Optional dependencies (based on your needs)
# Notebooks
bokeh==1.4.0
pandas>=1.4,<2.0
umap-learn>=0.5.1

# For running the TTS server
flask>=3.0.0

# Language-specific dependencies (optional)
bangla>=0.0.2
bnnumerizer>=0.0.2
bnunicodenormalizer>=0.1.0
hangul_romanize>=0.1.0
jamo>=0.4.1
g2pkk>=0.1.1
mecab-python3>=1.0.2
unidic-lite==1.0.8
cutlet>=0.2.0
jieba>=0.42.1
pypinyin>=0.40.0

# All language-specific dependencies (all extras)
coqui-tts[notebooks,server,bn,ja,ko,zh]

# Development dependencies (if needed for development environment)
black==24.2.0
coverage[toml]>=7
nose2>=0.15
pre-commit>=3
ruff==0.7.0

# Documentation build dependencies
furo>=2024.8.6
myst-parser==3.0.1
sphinx==7.4.7
sphinx_inline_tabs>=2023.4.21
sphinx_copybutton>=0.5.2
linkify-it-py>=2.0.3
